#rectangle{
    margin: 10px;
    width:200px;
    height:100px;
    background-color: black;
}
#cube{
    margin: 10px;
    width:100px;
    height:100px;
    background-color: black;
}
#circle{
    margin: 10px;
    width:100px;
    height:100px;
    border-radius: 50%;
    background-color: black;
}